spring:
  application:
    name: Disaster Alerts

  docker:
    compose:
      file: compose.yaml

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://db:5432/disasterdb
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: db/changelog-dev.yaml
    contexts: prod

  ai:
    openai:
      api-key: "${{ secrets.OPENAI_API_KEY }}"
      chat:
        options:
          model: gpt-4o
          temperature: 0.5

server:
  port: 8080

openweathermap:
  api:
    key: 3261c3b28f5aed55fcca580f4d7744d0
    url: https://api.openweathermap.org/data/2.5/weather