<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Dodaj Zdarzenie')}"></head>

<body class="bg-body-tertiary">
<nav th:replace="~{fragments :: nav}"></nav>

<div class="px-4 py-5 mt-md-5 text-center bg-white shadow-sm">
    <h1 class="display-5 fw-bold text-body-emphasis">Dodaj <span class="text-primary">Zdarzenie</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Wprowadź informacje o nowym zdarzeniu. Pamiętaj, że fałszywe zgłoszenia zostaną wykryte.</p>
    </div>
</div>
<div>
    <div class="container col-xl-10 col-xxl-10 px-4 ">
        <div class="row g-lg-5 py-5">
            <div th:if="${disasterTypSelected == null}" class="col-md-10 mx-auto col-lg-8">
                <div class="chat-container d-flex flex-column h-100">
                    <div class="textarea-container bg-body-tertiary p-3 rounded mt-3">
                        <form th:action="@{/disasters/chat}" method="post">
                            <div th:if="${conversation != null}">
                                <label class="form-label fw-bold" th:text="${conversation.question}"></label>
                                <div class="form-check" th:each="answer, iter : ${conversation.answers}">
                                    <input class="form-check-input" type="radio" name="selectedAnswer"
                                           th:value="${answer}" th:id="${'answer-' + iter.index}" required>
                                    <label class="form-check-label" th:for="${'answer-' + iter.index}" th:text="${answer}"></label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="radio" name="selectedAnswer" value="custom" id="answer-custom">
                                    <input type="text" class="form-control mt-2" name="selectedAnswer" placeholder="Wpisz własną odpowiedź">
                                </div>

                                <button type="submit" class="w-100 btn btn-lg btn-primary">Wyślij</button>
                                <div th:replace="~{fragments :: toast}"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div th:if="${disasterTypSelected != null}" class="col-md-10 mx-auto col-lg-8">
                <form th:action="@{/disasters/add}" method="post" th:object="${disasterAddDTO}" class="p-4 p-md-5 rounded-3 bg-body-tertiary">

                    <div class="form-floating mb-3">
                        <input th:value="${disasterTypSelected}" name="type" type="hidden" class="form-control" id="tye" required>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:value="*{description()}" name="description" type="hidden" class="form-control" id="description" required>
                    </div>
                    <div th:replace="~{fragments :: citiesList}"></div>

                    <div class="form-floating mb-3">
                        <input th:value="${userId}" name="userId" type="hidden" class="form-control" id="userId" required readonly>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Dodaj Zdarzenie</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
