<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Dodaj Zdarzenie')}"></head>

<body class="bg-body-tertiary">
<nav th:replace="~{fragments :: nav}"></nav>

<div class="px-4 py-5 mt-md-5 text-center bg-white shadow-sm">
    <h1 class="display-5 fw-bold text-body-emphasis">Dodaj <span class="text-primary">Zdarzenie</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Wprowadź informacje o nowym zdarzeniu. Pamiętaj, że fałszywe zgłoszenia zostaną wykryte.</p>
    </div>
</div>
<div>
    <div class="container col-xl-10 col-xxl-10 px-4 ">
        <div class="row g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-8">
                <form action="/disasters/add" method="post" th:object="${disasterAddDTO}" class="p-4 p-md-2 rounded-3 bg-body-tertiary">
                    <div class="form-floating mb-3">
                        <select th:value="${disasterTypSelected}" name="type" class="form-select" id="type" required>
                            <option th:if="${disasterTypSelected == null}" value="" disabled selected>Wybierz typ zdarzenia</option>
                            <option th:each="type : ${disasterType}"
                                    th:value="${type}"
                                    th:selected="${type == disasterTypSelected}"
                                    th:text="${type}"></option>
                        </select>
                        <label for="type">Typ Zdarzenia</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:value="*{description()}" name="description" type="text" class="form-control" id="description" placeholder="Opis" required>
                        <label for="description">Opis</label>
                    </div>
                    <div th:replace="~{fragments :: citiesList}"></div>

                    <div class="form-floating mb-3">
                        <input th:value="${userId}" name="userId" type="hidden" class="form-control" id="userId" required readonly>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Dodaj Zdarzenie</button>
                    <div th:replace="~{fragments :: toast}"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
