<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:fragment="head(pageTitle)">
        <meta charset="UTF-8">
        <title th:text="*{pageTitle}">DisasterAlerts</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

    <nav th:fragment="nav" class="navbar navbar-dark bg-dark text-sm-center" aria-label="First navbar example">
        <div class="container-fluid">
            <a sec:authorize="isAnonymous()" class="navbar-brand" href="/">
                <img class="d-inline-block me-3" style="max-height: 3.5em;" src="/images/disaster_alerts_logo.bmp" alt="logo" />
                <p class="d-inline-block display-6 align-middle">Disaster alerts</p>
            </a>
            <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/disasters/add">
                <img class="d-inline-block me-3" style="max-height: 3.5em;" src="/images/disaster_alerts_logo.bmp" alt="logo" />
                <p class="d-inline-block display-6 align-middle">Disaster alerts</p>
            </a>
            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Register</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/edit">Edytuj dane</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disasters/add">Dodaj zdarzenie</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div th:fragment="message">
        <p class="h4 text-success " th:if="${message} != null" th:text="${message}"></p>
    </div>

    <div th:fragment="citiesList" class="col-12">
        <div class="text-danger" th:if="${#fields.errors('location')}" th:errors="*{location}"></div>
        <h2>Wybierz miejscowość:</h2>
        <div class="form-group">
            <input th:value="${selectedLocation}" type="text" class="form-control" id="cityInput" placeholder="Zacznij wpisywać" onkeyup="filterCities()">

            <select class="form-select" id="location" name="location" size="5">
                <option th:each="location : ${cities}"
                        th:value="${location}"
                        th:text="${location}"
                        th:selected="${location == selectedLocation}">
                </option>
            </select>
        </div>

        <script>
            function filterCities() {
                let input = document.getElementById('cityInput').value.toLowerCase();
                let dropdown = document.getElementById('location');
                let options = dropdown.getElementsByTagName('option');

                for (let i = 0; i < options.length; i++) {
                    let txtValue = options[i].textContent || options[i].innerText;
                    if (txtValue.toLowerCase().indexOf(input) > -1) {
                        options[i].style.display = "";
                    } else {
                        options[i].style.display = "none";
                    }
                }
            }
        </script>
    </div>

</body>
</html>