<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Lista zdarzeń')}"></head>

<body class="bg-body-tertiary">
<nav th:replace="~{fragments :: nav}"></nav>
<div class="px-4 py-5 mt-5 text-center bg-white shadow-sm">
    <h1 class="display-5 fw-bold text-body-emphasis">Sprawdź <span class="text-primary">Zdarzenia</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Sprawdź informacje o aktywnych zdarzeniach.</p>
    </div>
</div>
<div>
    <div class="container col-xl-10 col-xxl-10 px-4 ">
        <div class="row g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-10">
                <form th:action="@{/disasters/list}" method="post" class="mb-4">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="disasterType" class="form-label">Rodzaj zdarzenia</label>
                            <select id="disasterType" name="disasterType" class="form-select">
                                <option value="" selected>Wszystkie</option>
                                <option th:each="type : ${disasterType}" th:value="${type}" th:text="${type}"></option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label for="disasterStatus" class="form-label">Miasto zdarzenia</label>
                            <select id="disasterStatus" name="city" class="form-select">
                                <option value="" selected>Wszystkie</option>
                                <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
                            </select>
                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <button type="submit" class="btn btn-primary w-100"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>

                <div th:if="${!#lists.isEmpty(list)}" class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Typ zdarzenia</th>
                            <th>Opis</th>
                            <th>Lokalizacja</th>
                            <th>Data zgłoszenia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="disaster : ${list}">
                            <td th:text="${disaster.type}"></td>
                            <td th:text="${disaster.description}"></td>
                            <td th:text="${disaster.location}"></td>
                            <td th:text="${#temporals.format(disaster.createDate(), 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(list)}" class="px-4 py-5 mt-5 text-center bg-white shadow-sm">
                    <h1 class="display-6 fw-bold text-body-emphasis">Brak <span class="text-primary">Zdarzeń</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
