<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Rejestracja')}"></head>

<body class="bg-body-tertiary">

<nav th:replace="~{fragments :: nav}"></nav>

<div class="container">
    <main class="mt-5">
        <div class="row g-5 justify-content-center">
            <div class="col-md-8 col-lg-8">
                <h4 class="mb-3">Rejestracja</h4>
                <form th:action="@{/signup}" , method="post" th:object="${userDto}">

                    <div class="row g-3">
                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('firstName')}" th:errors="*{firstName}"></div>
                            <label for="firstName" class="form-label">Imię</label>
                            <input th:value="*{firstName}" name="firstName" type="text" class="form-control" id="firstName">
                            <div class="invalid-feedback">
                                Imię musi zawierać co najmniej 2 znaki
                            </div>
                        </div>

                        <div class="col-12">

                            <div class="text-danger" th:if="${#fields.errors('lastName')}" th:errors="*{lastName}"></div>
                            <label for="lastName" class="form-label">Nazwisko</label>
                            <input th:value="*{lastName}" name="lastName" type="text" class="form-control" id="lastName">

                            <div class="invalid-feedback">
                                Nazwisko musi zawierać co najmniej 2 znaki
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('email')}" th:errors="*{email}"></div>
                            <label for="email" class="form-label">Adres e-mai</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input th:value="*{email}" name="email" type="text" class="form-control" id="email"
                                       placeholder="you@example.com" required>
                                <div class="invalid-feedback">
                                    Niewłaściwy format adresu e-mail
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('password')}"
                                 th:errors="*{password}"></div>
                            <label for="password" class="form-label">Hasło</label>
                            <input th:value="*{password}" name="password" type="password" class="form-control"
                                   id="password">
                        </div>

                        <div class="col-12">
                            <div class="text-danger" th:if="${confirmPasswordError}"
                                 th:text="${confirmPasswordError}"></div>
                            <label for="confirmPassword" class="form-label">Powtórz hasło</label>
                            <input name="confirmPassword" type="password" class="form-control" id="confirmPassword">
                            <div class="invalid-feedback">
                                Nazwa użytkownika jest wymagana
                            </div>
                        </div>

                        <div th:replace="~{fragments :: citiesList}"></div>

<!--                    <hr class="my-4">-->

<!--                    <h4 class="mb-3">Preferencje</h4>-->

<!--                    <div class="my-3">-->
<!--                        <div class="form-check">-->
<!--                            <input id="credit" name="paymentMethod" type="checkbox" class="form-check-input" checked>-->
<!--                            <label class="form-check-label" for="credit">Alerty mailowe</label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                            <input id="debit" name="paymentMethod" type="checkbox" class="form-check-input">-->
<!--                            <label class="form-check-label" for="debit">Alerty SMS</label>-->
<!--                        </div>-->
<!--                    </div>-->



<!--                    <div class="col-md-7 col-lg-8 my-4">-->
<!--                        <h4 class="d-flex justify-content-between align-items-center mb-3">-->
<!--                            Zweryfikowany użytkownik-->
<!--                        </h4>-->
<!--                        <div class="card p-2">-->
<!--                            <div class="input-group">-->
<!--                                <input type="text" class="form-control" placeholder="Kod organizacji">-->
<!--                                <button class="btn btn-secondary">Zweryfikuj</button>-->
<!--                            </div>-->
<!--                        </div>-->
                        </div>
                    </div>
                    <button class="w-100 btn btn-primary btn-lg my-md-4" type="submit">Utwórz konto</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2017–2024 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Kontakt</a></li>
            <li class="list-inline-item"><a href="#">Regulamin serwisu</a></li>
            <li class="list-inline-item"><a href="#">Pomoc</a></li>
        </ul>
    </footer>
</div>
</body>