<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Logowanie')}"></head>

<body>
<nav th:replace="~{fragments :: nav}"></nav>

<!--<div th:object="${userDTO}">-->

<!--    <p class="h4 text-success" th:text="*{phoneNumber}"></p>-->
<!--    <p class="h4 text-success" th:text="*{username()}"></p>-->
<!--    <p class="h4 text-success" th:text="*{phoneNumber()}"></p>-->

<!--</div>-->

<!--<div th:each="dto : ${dtoList}">-->
<!--    <p class="h4 text-success" th:text="${dto.phoneNumber}"></p>-->
<!--    <p class="h4 text-success" th:text="${dto.username()}"></p>-->
<!--    <p class="h4 text-success" th:text="${dto.email()}"></p>-->
<!--</div>-->

<!--<form th:action="@{/test}" method="post" th:object="${userDTO2}">-->
<!--        <input th:value="*{username}" type="text" name="username">-->
<!--    <button type="submit">wyślij</button>-->
<!--</form>-->

</body>
</html>