<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Aktualizacja danych')}"></head>
<body class="bg-body-tertiary">

<nav th:replace="~{fragments :: nav}"></nav>
<div class="px-4 py-5 mt-md-5 text-center bg-white shadow-sm d-none d-lg-block">
    <h1 class="display-5 fw-bold text-body-emphasis">Edycja <span class="text-primary">Profilu</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Zaktualizuj dane. Bądź na bieżąco z doniesieniami ze swojego regionu. Pamiętaj, że usunięcie lub niedodanie numeru telefonu skutkuje rezygnacją z alertów SMS.</p>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center bg-body-tertiary">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start d-lg-none">
                <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">Edycja profilu</h1>
                <p class="col-lg-10 fs-5 fw-light">Zaktualizuj dane. Bądź na bieżąco z doniesieniami ze swojego regionu</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div th:replace="~{fragments :: message}" class="bg-dark"></div>
                <form th:action="@{/users/update}" method="post" th:object="${userUpdateDto}">
                    <div class="row g-3">

                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('firstName')}" th:errors="*{firstName}"></div>
                            <label for="firstName" class="form-label">Nazwa użytkownika</label>
                            <input th:value="*{firstName}" name="firstName" type="text" class="form-control" id="firstName">
                            <div class="invalid-feedback">
                                Nazwa użytkownika jest wymagana
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('lastName')}" th:errors="*{lastName}"></div>
                            <label for="lastName" class="form-label">Nazwa użytkownika</label>
                            <input th:value="*{lastName}" name="lastName" type="text" class="form-control" id="lastName">
                            <div class="invalid-feedback">
                                Nazwa użytkownika jest wymagana
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('email')}" th:errors="*{email}"></div>
                            <label for="email" class="form-label">Adres e-mail</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input th:value="*{email}" name="email" type="text" class="form-control" id="email" placeholder="you@example.com" required>
                                <div class="invalid-feedback">
                                    Niewłaściwy format adresu e-mail
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-danger" th:if="${#fields.errors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                            <label for="phoneNumber" class="form-label">Numer Telefonu</label>
                            <div class="input-group">
                                <input th:value="*{phoneNumber}" name="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="+48.........">
                                <a th:if="*{phoneNumber() != ''}" role="button" class="btn btn-danger ms-2" href='/users/removePhoneNumber' methods="POST">
                                    <i class="bi bi-trash"></i> Usuń numer telefonu
                                </a>
                                <div class="invalid-feedback">
                                    Nieprawidłowy format numeru telefonu
                                </div>
                            </div>

                        </div>

                        <div th:replace="~{fragments :: citiesList}"></div>
                    </div>

                    <button class="w-100 btn btn-primary btn-lg my-md-4" type="submit">Zatwierdź</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
